<section class="container-contrase単a">
  <article class="article-contrase単a">
<h2>Olvidaste tu contrase単a?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
     <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"Ingrese su correo", class:"form-control"%>
  </div>

  <div class="actions">
    <%= f.submit "Restablecer contrase単a"%>
  </div>
<% end %>

<%= render "devise/shared/links" %>
  </article>
</section>
